<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebDALPath" value="HoverTree.SQLServerDAL"/>
    <add key="WebDALNameSpace" value="HoverTree.SQLServerDAL"/>
  </appSettings>
  <connectionStrings>
    <add name="carInfo" connectionString="Server=192.168.1.201;Database=AutomotiveDB;UID=yongjiu;PWD=yongjiu000;" providerName="System.Data.SqlClient"/>
    <add name="ConnStr" connectionString="server=(local);database=qds154747452_db;uid=sa;pwd=yongjiu123" providerName=""/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" optimizeCompilations="true"/>
    <authentication mode="Forms">
      <forms name=".hvtlogin" loginUrl="/hvtpanel/login.aspx" defaultUrl="/hvtpanel/index.aspx">
        <credentials passwordFormat="MD5">
          <user name="yongjiu" password="7436685585015860c148166649c15e0e"/>
        </credentials>
      </forms>
    </authentication>
    <customErrors defaultRedirect="/index.aspx" mode="RemoteOnly">
      <error statusCode="500" redirect="/default.htm"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0"/>
    <!--<pages>
      <namespaces>-->
    <!--配置页面中共享的命名空间-->
    <!--<add namespace="WxDev.Model"/>
        <add namespace="WxDev.Utility"/>
        <add namespace="WxDev.WebApp.code"/>
        <add namespace="HoverTree.Model"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
        <add namespace="HoverTree.SQLServerDAL"/>
      </namespaces>
    </pages>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>